In [1]:
from update_controller import Update_controller
from update_products import Update

obj1 = Update_controller()
obj2 = Update()

In [4]:
body = [
    {
        "id": "person4",
        
        "needs": {
            "liquidity_investment_need" : 0.9,
        }
    }
]
print(obj1.run(people=body))

(True, '')

In [5]:
obj2.run(people=body)

needs pushed

True

In [9]:
from delete_controller import Delete_controller
from delete_clients import Delete

obj1 = Delete_controller()
obj2 = Delete()

In [11]:
body = {
    "ids" : ["person3"]      
}

print(obj1.run(body=body))

(True, '')

In [12]:
obj2.run(body=body)

True

In [1]:
from read_controller import Read_controller
from read_products import Read

obj1 = Read_controller()
obj2 = Read()

In [6]:
body = {
    "ids" : ["product2"],
    "categories" : ["description"]        
}

print(obj1.run(body=body))

(True, '')

In [7]:
obj2.run(body=body)

[{'id': 'product2',
  'description': {'name': 'allianz1',
   'isin_code': 'IT3459',
   'bloomberg_id': 'EU98136',
   'currency': 'EUR'}}]

In [8]:
from insert_controller import Insert_controller
from insert_products import Insert

obj1 = Insert_controller()
obj2 = Insert()

body = [
    {
        "id": "product3",
        "description": {
            "name": "allianz1",
            "isin_code": "IT3459",
            "bloomberg_id": "EU98136",
            "currency": "EUR"
        },
        "assets": {
            "equity": 0.5,
            "": 0.5
        }
        
    }
]
obj1.run(products=body)

(True, '')

In [9]:
obj2.run(products=body)

description pushed
cultures pushed
assets pushed

        INSERT INTO mainapp.prod_needs(
            product_id, health_insurance_need, home_insurance_need, longterm_care_insurance_need,
            payment_financing_need, loan_financing_need, mortgage_financing_need,
            capital_accumulation_investment_need, capital_protection_investment_need,
            retirement_investment_need, income_investment_need,
            heritage_investment_need, liquidity_investment_need
        )
        VALUES ('product2', NULL,
                NULL, NULL,
                NULL, NULL,
                NULL, NULL,
                NULL,
                NULL, NULL,
                NULL, 1
            );
needs pushed

True

In [3]:
from sqlalchemy import create_engine, text

schema_name = "mainapp"
engine = create_engine("postgresql://postgres:!vbPostgres@virtualb-rds-mainapp.clg6weaheijj.eu-south-1.rds.amazonaws.com:5432/postgres")

query='''
INSERT INTO mainapp.hub_customer(person_id, age_, gender_, location_, education_, profession_)
VALUES ('person5', 33, 'm', 'toscana', 'scuola', 'non');
'''

with engine.connect() as conn:
    conn.execute(query)